body {
    background-color: #252525;
    color: white;
}

.bg-light-dark {
    background-color: #2b3035;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.alertsuccess {
    background-color: rgb(100, 251, 100);
}
